In [1]:
import matplotlib.pyplot as plt
import tqdm as tqdm
import numpy as np
import pandas as pd
import os
from arch import arch_model

In [2]:
daily_df = pd.read_csv('simulated_daily_data.csv')

In [4]:
daily_df['Date'] = pd.to_datetime(daily_df['Date'])
daily_df = daily_df.set_index('Date')
daily_df['log_ret'] = np.log(daily_df['Close']).diff()

In [5]:
daily_df.head()

                  Open        High  ...  Unnamed: 7   log_ret
Date                                ...
2014-09-17  116.466003  117.043503  ...         NaN       NaN
2014-09-18  114.214996  114.214996  ...         NaN -0.074643
2014-09-19  106.025749  106.958748  ...         NaN -0.072402
2014-09-20   98.668251  105.823998  ...         NaN  0.035111
2014-09-21  102.021248  103.106499  ...         NaN -0.024968

[5 rows x 8 columns]

In [14]:
intraday_5min_df = pd.read_csv('simulated_intraday_data_5min.csv')

In [15]:
intraday_5min_df['datetime'] = pd.to_datetime(intraday_5min_df['datetime'])
intraday_5min_df = intraday_5min_df.set_index('datetime')
intraday_5min_df['date'] = pd.to_datetime(intraday_5min_df['date'])

KeyError: 'date'

In [10]:
intraday_5min_df.head()

          datetime        open         low  ...       close  volume  Unnamed: 6
0  9/29/2021 20:00  10379.7775  10364.5950  ...  10370.9575      46         NaN
1  9/29/2021 20:05  10370.9425  10352.4175  ...  10371.1450      53         NaN
2  9/29/2021 20:10  10372.8150  10357.8250  ...  10384.3125     116         NaN
3  9/29/2021 20:15  10385.8275  10384.0825  ...  10442.5175     266         NaN
4  9/29/2021 20:20  10442.5225  10426.2375  ...  10440.9950      65         NaN

[5 rows x 7 columns]